
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1499234693279'); /* IE9*/
  src: url('iconfont.eot?t=1499234693279#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1499234693279') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1499234693279') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1499234693279#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xinlangweibo:before { content: "\3433"; }

.icon-icon-copy:before { content: "\e600"; }

.icon-QQkongjian:before { content: "\e714"; }

.icon-weixin:before { content: "\e64e"; }

.icon-gengduo:before { content: "\e623"; }

.icon-yixin:before { content: "\e501"; }

